{% extends "base.html" %}
{% block content %}
<h2>Nuovo Tavolo</h2>
<form method="POST">
    <div class="mb-3">
        <label>Nome Tavolo</label>
        <input type="text" name="nome_tavolo" class="form-control" required>
    </div>
    <div class="mb-3">
        <label>Numero Posti</label>
        <input type="number" name="n_posti" class="form-control" min="1" required>
    </div>
    <div class="mb-3">
        <label>Posizione</label>
        <input type="text" name="posizione" class="form-control">
    </div>
    <button class="btn btn-primary">Salva</button>
</form>
{% endblock %}
