{% extends "base.html" %}
{% block content %}
<div class="d-flex justify-content-between">
    <h2>Categorie</h2>
    <a href="{{ url_for('nuova_categoria') }}" class="btn btn-success mb-3">Nuova Categoria</a>
</div>
<table class="table-container glass-table align-items-center text-center">
    <thead>
        <tr>
            <th class="text-center">Nome</th>
            <th class="text-center">Descrizione</th>
            <th class="text-center">Azioni</th>
        </tr>
    </thead>
    <tbody>
        {% for cat in categorie %}
        <tr>
            <td>{{ cat['nome'] }}</td>
            <td>{{ cat['descrizione'] if cat['descrizione'] else '-' }}</td>
            <td>
                <a href="{{ url_for('modifica_categoria', id_categoria=cat['id_categoria']) }}" class="btn btn-primary btn-sm"><i class="bi bi-pen-fill"></i></a>
                <button type="button" class="btn btn-danger btn-sm btn-elimina" data-action="{{ url_for('elimina_categoria', id_categoria=cat['id_categoria']) }}">
                    <i class="bi bi-trash-fill"></i>
                </button>
            </td>
        </tr>
        {% else %}
        <tr>
            <td colspan="3" class="text-center">Nessuna categoria trovata.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>


<!-- Form POST invisibile per eliminazione -->
<form id="deleteForm" action="" method="POST" style="display:none;"></form>

<!-- Modal Eliminazione -->
<div id="confirmModal" class="fade-modal">
  <div class="modal-content glass-container p-4">
    <h3 style="margin-bottom: 1rem;">Conferma Eliminazione</h3>
    <p>Sei sicuro di voler eliminare questo allergene?</p>
    <div class="modal-buttons mt-3">
      <button id="cancelBtn" class="btn btn-secondary me-2">Annulla</button>
      <button id="confirmBtn" class="btn btn-danger">Elimina</button>
    </div>
  </div>
</div>

{% endblock %}

