{% extends "base.html" %}
{% block content %}
<div class="container">


<div class="glass-container p-4">
<h2 class="mb-4" >Modifica Categoria</h2>
        {% if error %}
            <div class="alert alert-danger">{{ error }}</div>
        {% endif %}
<form method="POST" action="{{ url_for('modifica_categoria', id_categoria=categoria['id_categoria']) }}">
    <div class="mb-3">
        <label for="nome" class="form-label">Nome</label>
        <input type="text" class="form-control" id="nome" name="nome" value="{{ categoria['nome'] }}" required>
    </div>
    <div class="mb-3">
        <label for="descrizione" class="form-label">Descrizione</label>
        <textarea class="form-control" id="descrizione" name="descrizione" rows="3">{{ categoria['descrizione'] }}</textarea>
    </div>
                <div class="d-flex justify-content-between mt-4">
                <a href="{{ url_for('lista_categorie') }}" class="btn btn-secondary">← Indietro</a>
                <button type="submit" class="btn btn-primary">Salva</button>
            </div>
</form>

</div>
{% endblock %}

