{% extends "base.html" %}
{% block content %}
<div class="d-flex justify-content-between">
  <h2>Gestione Articoli</h2>
  <a href="{{ url_for('nuovo_articolo') }}" class="btn btn-success mb-3">Nuovo Articolo</a>
</div>
<div class="filtro-liquid-glass-categoria d-flex justify-content-end align-items-center mb-3">
  <div class="d-flex align-items-center gap-2 text-center">
    <label>Filtra per categoria:</label>
    <form method="GET">
      <select name="categoria" onchange="this.form.submit()">
        <option value="">Tutte</option>
        {% for cat in categorie %}
        <option value="{{ cat['id_categoria'] }}" {% if request.args.get('categoria')==cat['id_categoria']|string
          %}selected{% endif %}>
          {{ cat['nome'] }}
        </option>
        {% endfor %}
      </select>
    </form>
  </div>
</div>
<table class="table-container glass-table">
  <thead>
    <tr>
      <th class="text-center">Nome</th>
      <th class="text-center">Descrizione</th>
      <th class="text-center">Prezzo</th>
      <th class="text-center">Categoria</th>
      <th class="text-center">Allergeni</th>
      <th class="text-center">Ingredienti</th>
      <th class="text-center">Azioni</th>
    </tr>
  </thead>
  <tbody>
    {% for art in articoli %}
    <tr>
      <td>{{ art['nome'] }}</td>
      <td>{{ art['descrizione'] }}</td>
      <td>€ {{ "%.2f"|format(art['prezzo']) }}</td>
      <td>{{ art['categoria'] if art['categoria'] else '-' }}</td>
      <td>{{ art['allergeni'] if art['allergeni'] else '-' }}</td>
      <td>{{ art['ingredienti'] if art['ingredienti'] else '-' }}</td>
      <td>
        <div class="d-flex justify-content-between gap-1">
          <a href="{{ url_for('modifica_articolo', id_articolo=art['id_articolo']) }}" class="btn btn-primary btn-sm"><i
              class="bi bi-pen-fill"></i></a>
          <button class="btn btn-danger btn-sm btn-elimina"
            data-action="{{ url_for('elimina_articolo', id_articolo=art['id_articolo']) }}"><i
              class="bi bi-trash-fill"></i></button>
        </div>
      </td>
    </tr>
    {% else %}
    <tr>
      <td colspan="7" class="text-center">Nessun articolo trovato.</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<!-- Form POST invisibile per eliminazione -->
<form id="deleteForm" action="" method="POST" style="display:none;"></form>

<!-- Modal Eliminazione -->
<div id="confirmModal" class="fade-modal">
  <div class="modal-content glass-container p-4">
    <h3 style="margin-bottom: 1rem;">Conferma Eliminazione</h3>
    <p>Sei sicuro di voler eliminare questo articolo?</p>
    <div class="modal-buttons">
      <button id="cancelBtn" class="btn btn-secondary">Annulla</button>
      <button id="confirmBtn" class="btn btn-danger">Elimina</button>
    </div>
  </div>
</div>



{% endblock %}